* {
  margin: 0;
  padding: 0;
  /*outline: 1px solid red;*/
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
.main-person-describe,
.list-title {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 86px;
}

.title, .top-nav, .top-nav-list {
  display: inline;
}

.top-nav-list li {
  display: inline;
  margin-left: 1%;
  font-size: 24px;
}

.header-panel {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  outline: 1px solid red;
  display: inline-block;
}

h2,
.main-person-describe,
.list-title {
  font-weight: 500;
}

nav,
p,
.corporation-info,
.sub-link,
.employee-name,
.employee-quality li,
.employee-describe,
.chapter-title,
.contact,
.director-describe li {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.corporation-info {
  font-weight: 900;
}

.sub-link,
.chapter-title {
  font-weight: 700;
}


.employee-name, .employee-quality li, .employee-describe {
  font-weight: 700;
}

.contact {
  font-weight: 400;
}

blockquote,
.list-strengths {
  font-family: 'Bitter', serif;
  font-weight: 400;
}
