* {
  margin: 0;
  padding: 0;
}


.wrap {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: content-box;
  /*outline: 1px solid red;*/
}

.background {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../image/background.jpg");
  height: 630px;
}

.background-label {
  width: 690px;
  padding: 110px 0;
  background-color: white;
  text-align: center;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 345px);

}

.title {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 135px;
  margin-right: calc(1440px - 200px - 630px - 5px);
}

.top-nav {
  display: inline-block;
  vertical-align: middle;
}


.top-nav-list li {
  display: inline-block;
  font-size: 24px;
  margin-left: 30px;
}


a {
  text-decoration: none;
  color: black;
}

h1,
h2,
.main-person-name,
.list-title {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 86px;
}

h2,
.main-person-name,
.list-title {
  font-weight: 500;
}

nav,
p,
.corporation-info,
.sub-link,
.employee-name,
.employee-quality li,
.employee-describe,
.chapter-title,
.contact,
.director-describe li {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.corporation-info {
  font-weight: 900;
}

.sub-link,
.chapter-title {
  font-weight: 700;
  font-size: 24px;
}


.employee-name, .employee-quality li, .employee-describe {
  font-weight: 700;
}

.contact {
  font-weight: 400;
}

blockquote,
.list-strengths {
  font-family: 'Bitter', serif;
  font-weight: 400;
}

blockquote {
  font-size: 24px;
}


#biography {
  display: flex;
  padding: 137px;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}

#biography img {
  flex-basis: 50%;
  height: 840px;
}

.biography-director-content {
  display: flex;
  flex-basis: 50%;
}

.biography-director-content header {
  padding: 0 30px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  align-self: flex-start;
}


.biography-director-describe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 39px;

}

.main-person-describe {
  padding: 30px 0;
  font-size: 18px;
}


.director-describe li {
  display: inline-block;
}


